# macOS
.DS_Store
**/.DS_Store

# IDE
.idea/
*.iml
*.ipr
*.iws
.vscode/

# Build and logs
*.log
mundari_pipeline/build/
mundari_pipeline/android/build/
mundari_pipeline/android/.gradle/
mundari_pipeline/.dart_tool/
mundari_pipeline/.flutter-plugins-dependencies
mundari_pipeline/.pub-cache/
mundari_pipeline/.pub/
